body {                    /*sanity check*/
  background: #968a6c;
}

h1, h2 {
  font-family: 'Pacifico', sans-serif;
  text-shadow: 2px 1px white;
  margin-left: 10%;
}

h1 small {
  font-size: 0.5em;
  font-family: Arial, sans-serif;
  text-shadow: 2px 1px black;
}

h3 {
  margin-left: 75px;
  display: inline-block;
  font-family: 'Shadows Into Light', sans-serif;
}

button {
  color: black;
  display: inline;
  box-shadow: 2px 2px black;
}

footer {
  background-color: lightgreen;
  max-width: 75%;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px black;
}

.page-header {
  background-color: black;
}

.course-panel {
  background: skyblue;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  margin: 10px;
  padding: 20px;
}

.enroll-button {
  color: white;
  float: left;
}

.dropdown-item {
  margin-left: 50px;
  padding: 2px;
  display: block;
}

.class-btn-group, .add-btn {
  float: right;
}

.course-panel p {
  margin-left: 40%;
}

.all-courses, .teach-courses,
.available-courses, .enrolled-courses {
  background: none;

}

.modal-form {
  margin: 10px;
  padding: 10px;
}

.main-panel {
  background-image: url('/images/paper.png');
  max-width: 90%;
}

.class-full-img {
  max-width: 120px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px dotted red;
}
